<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="loginform" (ngSubmit)="onSubmit(loginform)">
      <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <label for="inputEmail" class="visually-hidden sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" formControlName="username">
      <label for="inputPassword" class="visually-hidden sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" formControlName="password">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2021</p>
    </form>
  </main>
</body>
