<div class="container">
  <h1 class="text-center">Registration</h1>
  <form>
    <div class="row g-2 mb-3">
      <div class="col-md">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
          <label for="floatingInputGrid">Email address</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
            <option selected disabled>Select Role</option>
            <option value="STUDENT">Student</option>
            <option value="ALUMNI">Alumni</option>
          </select>
          <label for="floatingSelectGrid">Select Role</label>
        </div>
      </div>
    </div>
    <div class="form-floating mb-3 pt-2">
      <input type="text" class="form-control" id="floatingInput" placeholder="Enter Name">
      <label for="floatingInput">Enter Name</label>
    </div>
    <div class="form-floating mb-3 pt-2">
      <input type="text" class="form-control" id="floatingInput" placeholder="Designation">
      <label for="floatingInput">Designation</label>
    </div>
    <div class="form-floating mb-3 pt-2">
      <input type="number" class="form-control" id="floatingInput" placeholder="Enter Mobile Number">
      <label for="floatingInput">Phone Number</label>
    </div>
    <div class="form-floating mb-3 pt-2">
      <input type="text" class="form-control" id="floatingInput" placeholder="Enter Location">
      <label for="floatingInput">Enter Location</label>
    </div>
    <div class="form-floating mb-3 pt-2">
      <input type="text" class="form-control" id="floatingInput" placeholder="LinkedIn URL">
      <label for="floatingInput">LinkedIn URL</label>
    </div>
    <div class="form-floating mb-3 pt-2">
      <input type="text" class="form-control" id="floatingInput" placeholder="GitHub URL">
      <label for="floatingInput">GitHub URL</label>
    </div>
    <div class="form-floating mb-3 pt-2">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">About</label>
    </div>
    <div>
      <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
    </div>
  </form>
</div>
